# Rust
/target
config.toml

# Downloaded reports
/reports/

# Environment
**/.env

# Keys
**/*.jks
**/*.p8
**/*.pem
**/*.pfx

# AI assistant
.claude
.github/copilot-instructions.md

# VS Code
.vscode
